<body>
    <%- include('./index.ejs')%>

        <% for(var i = 0; i < data.length; i++) {%>

            <b>The total Student ID count is</b>
            <%= data[i].COUNT %>

                <% } %>
</body>